.titleContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 可根据需要调整高度 */
    text-align: center;
    position: relative;
  }
  .titleContent a{
    position: absolute;
    bottom: 0px;
  }
  .titleContent img{
    width: 50px; /* 设置宽度 */
    cursor: pointer;
  }
  .bounce{
    animation: bounce 2s infinite;
  }
  @keyframes bounce{
    0%,20%,50%,80%,100%{
      transform: translateY(0);
    }
    40%{
      transform: translateY(-10px);
    }
    60%{
      transform: translateY(-5px);
    }
  }