body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f0f0f0; /* 设置背景颜色 */
    background-image: url('/public/bg.png'); /* 设置背景图片 */
    background-size: cover; /* 背景图片覆盖整个页面 */
    background-position: center; /* 背景图片居中 */
    background-repeat: no-repeat; /* 背景图片不重复 */
    background-attachment: fixed; /* 背景图片固定 */
  }
 

  .content{
    display: flex;
    justify-content: center;
    align-items: flex-start;/* 水平对齐 */
    padding-left: 200px;
    margin-top: 50px;
  }
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 788px;
    max-width:  788px;
  }
  .rightBar{
    display: flex;
    flex-direction: column;
    height:610px;
    margin-bottom:25px;
    width:305px;
  }
  .title{
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }